html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: rgb(195, 167, 167);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px black solid; */
  font-size: 1rem;
}
p {
  font-size: 4rem;
  font-weight: bolder;
  color: blue;
}
.container > button {
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 7.5px;
  background-color: blue;
  color: white;
}
.container > button:hover,
.submit-book:hover {
  border-radius: 9px;
  background-color: rgb(0, 139, 79);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 25%;
  border: 1.5px solid rgba(0, 0, 0);
  border-radius: 7.5px;
  background-color: rgb(34, 34, 60);
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 25%;
  border: 3px solid rgba(106, 106, 106, 0.3);
  border-radius: 7.5px;
}
.titles {
  color: rgb(255, 255, 255);
  margin: 0.25rem auto;
}
input {
  padding: 0.25rem;
  width: clamp(50%, 50% + 80px, 80rem);
  border-radius: 7.5px;
}
#read {
  height: 1rem;
  width: 1rem;
}
.submit-book {
  font-size: 0.75rem;
  font-weight: bolder;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 7.5px;
  background-color: blue;
  color: white;
}
.cancel-book {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  border-radius: 25%;
  background-color: rgb(255, 123, 0);
  color: rgb(0, 0, 0);
  border: 3px solid rgba(255, 255, 255, 0.3);
}
.your-library {
  font-size: 2rem;
  margin: 2rem auto;
  font-weight: bolder;
  color: blue;
}
.books-container {
  display: grid;
  place-items: center;
  width: clamp(50%, 80%, 90%);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
  padding: 1rem 2rem;
}
.book-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  background-color: rgb(34, 34, 60);
  padding: 1rem 2rem;
  padding-top: 3rem;
  border-radius: 13px;
  border: 3px solid blue;
  height: clamp(250px, 400px, 600px);
}
.book-card p,
.book-card .render {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: white;
  padding: 0.5rem;
  border: 4px solid rgb(255, 123, 0, 0.3);
  border-radius: 13px;
}
.book-card .delete-btn {
  width: fit-content;
  margin-left: 21rem;
  margin-top: -1rem;
  border-radius: 40px;
  padding: 0.6rem 1rem;
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 50%;
  background-color: rgb(255, 123, 0);
  color: rgb(0, 0, 0);
  border: 3px solid rgba(255, 255, 255, 0.3);
}
.delete-btn:hover {
  color: white;
  background-color: red;
}
.read-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid rgb(255, 123, 0, 0.3);
  border-radius: 13px;
  padding: 0.5rem;
}
.read-container .check {
  margin: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
}
